.checkbox {
  position: relative;

  input[type="checkbox"] {
    @include hide-element;
  }

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    border: 1px solid color(secondary);
    background-color: color(light, lighter);
    border-radius: .19em;
  }

  input {
    &:checked {
      ~ label {
        &::after {
          content: '';
          position: absolute;
          top: 30%;
          left: 2%;
          width: 1px;
          height: 10px;
          padding: 2px;
          border: solid color(secondary);
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
    }
  }
}
