input[type="text"] {
  padding: .5em;
  border: 1px solid color(dark);
  font-size: .9em;
  color: color(terciary);
  background: color(light, lighter);
  border-radius: $default-border-radius;
}

.datetime {
  position: relative;
  border-right: 1px solid color(terciary);

  input{
    border: none;
    padding: 0 .5em;
    font-size: 1em;
    color: color(terciary);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 5%;
    width: 24px;
    height: 24px;
    background-color: color(secondary);
    mask-image: url(../assets/icons/baseline-calendar.svg) no-repeat;
    -webkit-mask: url(../assets/icons/baseline-calendar.svg) no-repeat;
    transform: scale(.9);

  }
}
