.datetime-group {
  margin-top: .5em;
  border: none;

  legend {
    font-size: .6em;
    text-transform: uppercase;
    display: block;
    width: 100%;
  }

  label {
    @include hide-element;
  }

  div {
    display: block;
    padding: .5em 0;
    width: 100%;
    border: 1px solid color(dark);
    color: color(terciary);
    background: color(light, lighter);
    border-radius: $default-border-radius;
  }

  .datetime {
    display: inline-block;
    vertical-align: top;
    width: 54%;
  }

  .select {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    text-align: right;
  }
}
