
@media (min-width: 320px) and (max-width: 768px) {
  aside,
  main{
    width: 100%;
  }

  .product,
  .product-content,
  .main-action {
    width: 100%;
  }

  .product {
    border-right: 1px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1280px) {
  aside {
    width: 22%;
  }
  main{
    width: 75%;
    margin-left: 2.5%;
  }

  .button {
    padding: 1.4em;
  }

  .product {
    width: 77%;
  }

  .product-image {
    width: 48%;
  }
  .product-content {
    width: 50%;
  }

  .main-action {
    width: 20%;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1120px;
  }
}
