
@media (min-width: 320px) and (max-width: 768px) {
  aside,
  main{
    width: 100%;
  }

  .product,
  .product-content,
  .main-action {
    width: 100%;
  }

  .product {
    border: 1px solid color(dark);

  }

  .product-items {
    li {
      width: 45%;
    }
  }

  .main-action {
    div {
      width: 60%;
      vertical-align: middle;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1280px) {
  aside {
    width: 22%;
  }
  main{
    width: 75%;
    margin-left: 2.5%;
  }

  .button {
    padding: 1.4em;
  }

  .product {
    width: 77%;
    border: {
      top: 1px solid color(dark);
      bottom: 1px solid color(dark);
      left: 1px solid color(dark);
    }
  }

  .product-image {
    width: 48%;
  }

  .product-content {
    width: 50%;
  }

  .product-items {
    li {
      width: 33%;
    }
  }

  .main-action {
    width: 22%;
    text-align: center;

    div {
      width: 100%;
    }

    .button {
      position: relative;
      margin: 1em .5em;
      width: 80%;
    }
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1120px;
  }
}
