// Folha de estilos para *reset*
// Esta folha de estilos redefine os estilos padrões de todas as tags para todos
// os navegadores
// Este reset é bem *hard core* e a ideia é exatamente essa =P
// Baseado no trabalho de Eric Meyer, Richard Clark e algumas experiencias
// pessoais
// @see     http: //meyerweb.com/eric/tools/css/reset/
// @see     https: //code.google.com/p/html5resetcss/
// @version 2.4
// sass-lint:disable single-line-per-selector
// sass-lint:disable no-vendor-prefixes
html, body, main, article, nav, aside, section,
header, footer, address, div,
h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, dl, dt, dd,
hr, pre, figure, figcaption,
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,
form, fieldset, legend, label, input, button, select, datalist,
optgroup, option, textarea, progress, meter,
img, iframe, embed, object, param, video, audio, source,
canvas, track, map, area, del, ins,
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup,
time, code, kbd, samp, var, bdi, bdo, ruby, rt, rp, wbr,
mark, span, br {
  padding: 0;
  margin: 0;
  font: {
    size: 100%;
    style: normal;
    weight: normal;
  };
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

button,
select,
textarea,
input {
  max-width: 100%;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  vertical-align: middle;
}

button {
  &::-moz-focus-inner {
    border: 0;
  }
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  border: 0;

  a & {
    display: block;
  }
}

li {
  list-style: none;
}

hr {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
}

::after,
::before {
  box-sizing: inherit;
}
