<form action="#">
  <label for="local-retirada">Local de retirada</label>
  <input type="text" name="local-retirada" id="local-retirada">

  <label for="devolucao-outro-local">Devolver o carro em outro local</label>
  <input type="checkbox" name="devolucao-outro-local" id="devolucao-outro-local">

  <label for="local-devolucao">Local de devolução</label>
  <input type="text" name="local-devolucao" id="local-devolucao">

  <fieldset>
    <legend>Retirada</legend>
    <label for="data-retirada">Data da retirada</label>
    <input type="text" name="retirada" id="retirada">
    <label for="horario-retirada">Horário da retirada</label>
    <input type="text" name="retirada" id="retirada">
  </fieldset>

  <fieldset>
    <legend>Devolução</legend>
    <label for="data-devolucao">Data da devolução</label>
    <input type="text" name="devolucao" id="devolucao">

    <label for="devolucao">Horário da devolução</label>
    <input type="text" name="devolucao" id="devolucao">
  </fieldset>

  <fieldset>
    <legend>Economize até 35%</legend>
    <label for="incluir-voo">Incluir voo</label>
    <input type="checkbox" name="incluir-voo" id="incluir-voo">

    <label for="incluir-hotel">Incluir hotel</label>
    <input type="checkbox" name="incluir-hotel" id="incluir-hotel">
  </fieldset>

  <button>Buscar</button>
</form>

