@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

body {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
}

aside {
  display: inline-block;
  vertical-align: top;
}

main{
  display: inline-block;
  vertical-align: top;
}

