.brand-block {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 1em;
  font-size: .65em;
  text-align: center;
  text-transform: uppercase;
  color: color(light, lighter);
  background-color: color(success);

  strong {
    display: block;
    font-weight: 800;
    font-size: 1.3em;
  }
}
