.liked {
  position: absolute;
  top: 5%;
  right: 5%;
  display: block;
  width: 24px;
  height: 24px;
  background-color: color(dark);
  cursor: pointer;
  mask-image: url(../assets/icons/baseline-favorite.svg) no-repeat;
  -webkit-mask: url(../assets/icons/baseline-favorite.svg) no-repeat;
  transform: scale(1.5);

  &.liked-ok {
    background-color: color(error);
  }

}


@media (min-width: 1280px) {
  .liked {
    right: 0%;
  }
}
