.wrapper {
  margin: 0 auto;
}


@media (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 1140px;
  }
}

// @media (min-width: 1440px) {
//   .wrapper {
//     width: 1120px;
//   }
// }
