$brand-colors: (
    primary: #ffdb2b,
    secondary: #3657a4,
    terciary: #495883
) !default;


// #ffdb2b amarelo
// #3657a4 azul

// #263b70 azul
// #040404 preto
// #e0e0e0 cinza

// #495883 azul claro

// #68b42e verde

// #947200 marrom
